<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kkid</key>
		<string>0</string>
		<key>name</key>
		<string>收藏</string>
		<key>imageName</key>
		<string>KKGameRoomCollect_Normal_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>1</string>
		<key>name</key>
		<string>评论</string>
		<key>imageName</key>
		<string>KKGameRoom_Comment_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>2</string>
		<key>name</key>
		<string>刷新</string>
		<key>imageName</key>
		<string>KKGameRoom_refresh_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>3</string>
		<key>name</key>
		<string>转换</string>
		<key>imageName</key>
		<string>KKGameRoom_switch_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>4</string>
		<key>name</key>
		<string>更多</string>
		<key>imageName</key>
		<string>KKGameRoom_more_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>5</string>
		<key>name</key>
		<string>返回</string>
		<key>imageName</key>
		<string>返回</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>6</string>
		<key>name</key>
		<string>主页</string>
		<key>imageName</key>
		<string>KKGameRoom_homepage_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>7</string>
		<key>name</key>
		<string>消息</string>
		<key>imageName</key>
		<string>KKGameRoom_GroupChat_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>8</string>
		<key>name</key>
		<string>客服</string>
		<key>imageName</key>
		<string>KKGameRoom_serve_icon</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>9</string>
		<key>name</key>
		<string>分享</string>
		<key>imageName</key>
		<string>KKGameRoom_share_icon</string>
		<key>num</key>
		<string></string>
	</dict>
</array>
</plist>
