<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kkid</key>
		<string>0</string>
		<key>name</key>
		<string>分享</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction1</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>1</string>
		<key>name</key>
		<string>房间设置</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction2</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>2</string>
		<key>name</key>
		<string>勿扰</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction3</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>3</string>
		<key>name</key>
		<string>美颜</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction4</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>4</string>
		<key>name</key>
		<string>翻转</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction5</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>5</string>
		<key>name</key>
		<string>闪光灯</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction6</string>
		<key>num</key>
		<string></string>
	</dict>
	<dict>
		<key>kkid</key>
		<string>6</string>
		<key>name</key>
		<string>主播连麦</string>
		<key>imageName</key>
		<string>KKLiveRoomMoreFunction7</string>
		<key>num</key>
		<string></string>
	</dict>
</array>
</plist>
